/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import "sasskit/dist/scss/api";

@import "partials/kaai";
@import "partials/header";
@import "partials/footer";

.skeleton {
  display: flex;
  flex-direction: row;
}

.app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
  padding-top: $sizer * 2;
}

main {
  @include respond-to("tablet") {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
